Class-i-er/DataStore/classes/classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.DataStore.classes" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.DataStore.classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="classes" type="tns:classes" />
  <xs:complexType name="classes">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="starttime" type="xs:string" />
    <xs:attribute name="endtime" type="xs:string" />
  </xs:complexType>
</xs:schema>